server:
  port: 8080
spring:
  application:
    name: julio
  cors:
    origins:
      - http://localhost:4200
      - http://localhost:3000
  datasource:
    url: jdbc:postgresql://localhost:5432/financas
    username: postgres
    password: root

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect



logging:
  level:
    root: WARN
    com.financas.julio: INFO

api:
  security:
    token:
      secret: meu-segredo-super-secreto-e-longo-para-gerar-tokens
springdoc:
  enable-hateoas: false
  swagger-ui:
      path: /swagger-ui.html
      disable-swagger-default-url: true


